<html lang='en'>
	<head>
	</head>
	<body>
		<h1>All Blogs</h1>

		<% for(var blogs in allBlogs) { %>
			<li>"<%= allBlogs[blogs].content %>" by <%= allBlogs[blogs].name %> on <%= allBlogs[blogs].date %></li>
		<% }; %>

		<h2>All Users</h2>

		<% for(var user in allUsers) { %>
			<li><a href="/users/profile?name=<%= allUsers[user].name %>"><%= allUsers[user].name %></a> : <%= allUsers[user].about %></li>
		<% }; %>


	</body>
</html>